* {
    margin: 0px;
    padding: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lily Script One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* banner design */
.banner-container {
    background-image: url(../image/banner3.png);
    background-size: cover;
    width: 1600px;
    height: 808px;
    background-repeat: no-repeat;

}

.banner-details {
    text-align: right;
    padding: 216px 230px 260px 845px;

}

header h1 {
    width: 525px;
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-style: normal;
    line-height: normal;
}

header p {
    width: 494px;
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    font-weight: 200px;
}

header button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    color: #005FAC;
    margin-right: 30px;
    font-size: 15px;
    cursor: pointer;
}

/* failure section design */

.failure-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.failure-img {
    width: 451px;
    height: 898px;

}

.failure-info {
    margin-right: 200px;
}

.failure-title {
    width: 288px;
    color: #151414;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;

}

.failure-text {
    width: 416px;
    color: #444343;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    margin-bottom: 20px;

}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
    color: #16D887;
    margin-right: 5px;
}

/* planning part design */
.plan-title{
color:#151414;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.plan-list{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}
.plan-para{
color:#737272;
text-align: center;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
}